<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <i class="fas fa-sign-in-alt fa-7x"></i>
            <p>Login to submit file</p>
            <a href="/users/login" class="btn btn-primary btn-block">Login</a>
        </div>
    </div>
</div>